<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About the Developers</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				{{!-- <div class="logo"><a href="index.hbs">HackCU IV IoT Project</a></div> --}}
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="../">Home</a></li>
					<li><a href="../data_analysis">Data Analysis</a></li>					
					<li><a href="">About the Developers</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner">
				<div class="inner">
					<h1>About the Developers</h1>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="content">
									<header class="align-center">
										<h2>John Letey</h2>
									</header>
									<hr />
									<p>I am a junior at the University of Colorado at Boulder. I made the frontend, helped with the Arduino code, and helped with the Raspberry Pi code.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="content">
									<header class="align-center">
										<h2>Kyle Helmick</h2>
									</header>
									<hr />
									<p>I'm a third year undergraduate at the University of Colorado at Boulder by day, and by night.</p>
								</div>
							</div>
						</div>

					</div>
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="content">
									<header class="align-center">
										<h2>Adam Ten Hoeve</h2>
									</header>
									<hr />
									<p>I am a second year undergraduate at the University of Colorado at Boulder. I primarily worked on the MongoDB database to hold the information, the python script to upload the DB to AWS, and partner programmed the front end to keep Kyle awake for all 24 hours.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="content">
									<header class="align-center">
										<h2>Sean Harrison</h2>
									</header>
									<hr />
									<p>I am a masters student at CU and also a potato in my spare time.  I helped connect mongo up to node and forcing node to push to the client with socket. I would just like to add that raspberry pis are substanitally better than the dragonboard.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<div class="copyright">
						&copy; John Letey and Kyle Helmick. All Rights Reserved
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollex.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	</body>
</html>
