<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>HackCU IV IoT Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				{{!-- <div class="logo"><a href="index.hbs">HackCU IV IoT Project</a></div> --}}
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="">Home</a></li>
					<li><a href="/data_analysis">Data Analysis</a></li>					
					<li><a href="/developers">About the Developers</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner">
				<div class="inner">
					<h1>HackCU IV IoT Project</h1>
					<p>Explores the world of IoT using an Arduino Mega2560, a Raspberry Pi 3B, and some sensors!</p>
					<a href="#one" class="button special scrolly">Get Started</a>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit" style="text-align: center; width: 100%">
								<img src="images/Raspberry-Pi-3B.jpg" alt="" style="width: 90%; max-width: 462px; display: block; margin-left: auto; margin-right: auto " />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Why a Raspberry Pi 3B</h2>
								</header>
								<hr />
								<p>The raspberry pi is acting as a router for the data collected by the arduino. It pushes the data collected by the arduino to our AWS database.</p>
							</div>
						</div>
					</div>

					<div>
						<div class="box">
							<div class="image fit" style="text-align: center; width: 100%">
								<img src="images/Arduino-Mega-2560.jpg" alt="" style="width: 90%; max-width: 462px; display: block; margin-left: auto; margin-right: auto " />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Why an Arduino Mega2560</h2>
								</header>
								<hr />
								{{!-- <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p> --}}
								{{!-- <p>Vivamus fermentum nibh vel pharetra blandit. Cras a purus urna. Sed et libero ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse id hendrerit felis. Nulla viverra tempor dui at congue. Pellentesque quis nulla ornare, congue nisi id, finibus nulla. Aliquam sit amet hendrerit purus. Donec libero massa, posuere fermentum eros sit amet, maximus fringilla augue. Maecenas at rhoncus lorem. Vivamus ultricies consequat est, efficitur convallis libero. Vivamus rutrum semper mauris, vitae consequat eros tempor ac. Pellentesque et ornare sapien</p> --}}
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>data analysis</h3>
							</header>
							<ul class="actions">
								<li><a href="/data_analysis" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h3>About the developers</h3>
							</header>
							<ul class="actions">
								<li><a href="/developers" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Questions? Comments? Concerns? Bugs?</h2>
								<hr />
								<form action="#" method="post">
									<div class="field half first">
										<label for="name">Name</label>
										<input name="name" id="name" type="text" placeholder="Name">
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>
								</form>
							</div>
						</div>
					</section>
					<div class="copyright">
						&copy; John Letey and Kyle Helmick. All Rights Reserved
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollex.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	</body>
</html>
